*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background: #0D151C;
    color: #f8f8ee;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .num {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: small;
}

.nav-link {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #f8f8ee;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

nav .logo {
    text-decoration: none;
    color: #f8f8ee;
    font-weight: 700;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

nav .logo-brand {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nav-link {
    color: #f8f8ee;
    text-decoration: none;
    position: relative;
    font-size: medium;
    font-family: 'Inter', sans-serif;
}


.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: #f8f8ee;
    transition: all 0.25s ease-out;
}

.nav-link:hover {
    color: #f8f8ee;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.nav-link.active {
    position: relative;
    text-decoration: none;
    color: #f8f8ee;
}
  
.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff5277;
    transition: all 0.25s ease-out;
}

nav .openMenu {
    font-size: 2rem;
    margin: 6px;
    display: none;
}

nav .closeMenu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media(max-width: 850px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }
    nav .num {
        font-family: 'Inter', sans-serif;
        font-weight: lighter;
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px
    }
    nav .openMenu {
        display: block;
    }
    .nav-link {
        color: #f8f8ee;
        text-decoration: none;
        position: relative;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
        font-size: 50px;
        font-weight: bolder;
    }
    
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 4px;
        background-color: #f8f8ee;
        transition: all 0.25s ease-out;
    }
    
    .nav-link:hover {
        color: #f8f8ee;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .nav-link:hover::before {
        width: 100%;
        left: 0;
        right: auto;
    }
    
    .nav-link.active {
        position: relative;
        text-decoration: none;
        color: #f8f8ee;
    }
      
    .nav-link.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: red;
        transition: all 0.25s ease-out;
    }
}

nav .github {
    text-decoration: none;
    color: #f8f8ee;
    font-size: 2em;
}

nav .github:hover {
    text-decoration: none;
    color: #f8f8ee;
}

.home {
    background: #0D151C;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.home-header {
    text-transform: uppercase;
    color: #ff5277;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: block;
    text-decoration: none;
}

.home-header:hover {
    color: #ff2a57;
}

a {
    text-decoration: none;
}

.home-title {
    color: #f8f8ee;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-transform: none;
    font-size: 90px !important;
}

.home-text {
    color: #f8f8ee;
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 30px;
    font-weight: normal;
}

.nav-spacer {
    height: 50px; /* adjust as needed */
    background-color: #0D151C;
  }

.home-highlight {
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 30px;
    font-weight: normal;
    position: relative;
    padding: 0 5px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        grey 50%
    )
}

.home-highlight:hover {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #ff5277 50%
    )
}

@keyframes slideUp {
    from {
      transform: translateY(10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideUp 0.5s forwards;
    animation-delay: 0.2s;
  }
  
