*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand-logo {
    width: 75px;
    height: 75px;
    margin-right: -10px;
}

.navbar-brand-title {
    text-decoration: none;
    color: #f8f8ee;
    margin-right: -10px;
}

.navbar {
    background-color: #0a192f;
    padding: 35px;
    display: flex;
}

.navbar-toggler {
    color: #f8f8ee;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: #f8f8ee;
    text-decoration: none;
    position: relative;
}


.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: #f8f8ee;
    transition: all 0.25s ease-out;
}

.nav-link:hover {
    color: #f8f8ee;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.nav-link.active {
    position: relative;
    text-decoration: none;
    color: #f8f8ee;
}
  
.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: red;
    transition: all 0.25s ease-out;
}