*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background: #0D151C;
    color: #f8f8ee;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .num {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: small;
}

.nav-link {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #f8f8ee;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

nav .logo {
    text-decoration: none;
    color: #f8f8ee;
    font-weight: 700;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

nav .logo-brand {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nav-link {
    color: #f8f8ee;
    text-decoration: none;
    position: relative;
    font-size: medium;
    font-family: 'Inter', sans-serif;
}


.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: #f8f8ee;
    transition: all 0.25s ease-out;
}

.nav-link:hover {
    color: #f8f8ee;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.nav-link.active {
    position: relative;
    text-decoration: none;
    color: #f8f8ee;
}
  
.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff5277;
    transition: all 0.25s ease-out;
}

nav .openMenu {
    font-size: 2rem;
    margin: 6px;
    display: none;
}

nav .closeMenu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media(max-width: 1100px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }
    nav .num {
        font-family: 'Inter', sans-serif;
        font-weight: lighter;
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px
    }
    nav .openMenu {
        display: block;
    }
    .nav-link {
        color: #f8f8ee;
        text-decoration: none;
        position: relative;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
        font-size: 50px;
        font-weight: bolder;
    }
    
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 4px;
        background-color: #f8f8ee;
        transition: all 0.25s ease-out;
    }
    
    .nav-link:hover {
        color: #f8f8ee;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .nav-link:hover::before {
        width: 100%;
        left: 0;
        right: auto;
    }
    
    .nav-link.active {
        position: relative;
        text-decoration: none;
        color: #f8f8ee;
    }
      
    .nav-link.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: red;
        transition: all 0.25s ease-out;
    }
}

nav .github {
    text-decoration: none;
    color: #f8f8ee;
    font-size: 2em;
}

nav .github:hover {
    text-decoration: none;
    color: #f8f8ee;
}

.home {
    background: #0D151C;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.home-header {
    text-transform: uppercase;
    color: #ff5277;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: block;
    text-decoration: none;
}

.home-header:hover {
    color: #ff2a57;
}

a {
    text-decoration: none;
}

.home-title {
    color: #f8f8ee;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-transform: none;
    font-size: 90px !important;
}

.home-text {
    color: #f8f8ee;
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 30px;
    font-weight: normal;
}

.nav-spacer {
    height: 50px; /* adjust as needed */
    background-color: #0D151C;
  }

.home-highlight {
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 30px;
    font-weight: normal;
    position: relative;
    padding: 0 5px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        grey 50%
    );
    cursor: pointer;
}

.home-highlight:hover {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #ff5277 50%
    )
}

@keyframes slideUp {
    from {
      transform: translateY(10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideUp 0.5s forwards;
    animation-delay: 0.2s;
  }
  
.home-spacer {
    height: 25px; /* adjust as needed */
    background-color: #f8f8ee;
}

.about {
    background: #f8f8ee;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.about-title {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: block;
    margin-bottom: 20px;
    color: #0D151C;
    border-bottom: 2px solid lightgrey;
  }

.about-title-2 {
    display: inline-block;
    font-size: 100px;
    font-family: 'Livvic' sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
  
  .about-title.animate {
    opacity: 1;
  }
  
  .about-title span {
    display: inline-block;
    font-size: 120px;
    font-family: 'Livvic' sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .about-title span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .about-title span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .about-title span:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .about-title span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .about-title span:nth-child(5) {
    animation-delay: 0.4s;
    margin-right: 40px;
  }
  
  @keyframes falling {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-20%);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .about-title.animate span {
    animation-name: falling;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-play-state: running;
  }

  .container {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
  }
  
  .left {
    flex: 1;
    border-right: 2px solid lightgray;
    padding-right: 20px;
  }


  .right {
    flex: 2;
    padding-left: 20px;
  }
  
  .about-text {
    color: #0D151C;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
  }

  .about-text-2 {
    color: #0D151C;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-right: 500px;
    padding: 20px
  }

  
  .about-text a {
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    padding: 0 5px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        white 50%
    );
    cursor: pointer;
    color: #0D151C;
  }

  .about-text a:hover {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #ff5277 50%
    )
  }

  .about-spacer {
    height: 25px; /* adjust as needed */
    background-color: #0D151C;
}

.projects {
  background: #0D151C;
  display: flex;
  justify-content: space-between;
  padding: 60px
}

.projects-title {
  text-align: center;
  padding-top: 20px;
  color: #f8f8ee;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  display: block;
  font-size: 120px;
}

.card {
  width: 700px;
  height: 300px;
  perspective: 1000px; /* This is needed for the 3D effect */
  display: block;
  margin-bottom: 100px;
}

.card-front, .card-back {
  height: 100%;
  backface-visibility: hidden; /* This is needed for the 3D effect */
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s;
  align-items: center;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}


.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-2 {
  width: 700px;
  height: 350px;
  perspective: 1000px; /* This is needed for the 3D effect */
  display: block;
  margin-bottom: 100px;
}

.card-front, .card-back {
  height: 100%;
  backface-visibility: hidden; /* This is needed for the 3D effect */
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s;
  align-items: center;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #f8f8ee;
}

.card-2:hover .card-front {
  transform: rotateY(180deg);
}

.card-2:hover .card-back {
  transform: rotateY(0deg);
}


.project-cards {
  background: #0D151C;
  padding-bottom: 5rem;
  padding-top: 75px;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #0D151C;
}

.card-text {
  font-family: 'Inter', sans-serif;
  color: #0D151C;
  font-size: 14px;
}

.card-button {
  background-color: #f8f8ee;
  text-transform: uppercase;
  margin-left: 20px;
  color: #0D151C;
  transition: .5s cubic-bezier(1,0,0.8,1);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.btn {
  position: relative;
  width: 200px;
  height: 40px;
  border: 2px solid #0D151C;
  border-radius: 50px;
  background: #f8f8ee;
  margin-top: 50px
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #0D151C;
  border-radius: 50px;
  left: 0;
  top: -2px;
  transition: .5s cubic-bezier(1,0,0.8,1);
}

.btn:hover .circle {
  width: 200px;
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 3px solid #f8f8ee;
  border-right: 3px solid #f8f8ee;
  transform: rotate(45deg);
  top: 15px;
  left: 10px;
  transition: .5s cubic-bezier(1,0,0.8,1);
}

.btn:hover .arrow {
  left: 180px;
  
}

.arrow:before {
  content: '';
  position: absolute;
  background: #f8f8ee;
  transform: rotate(-45deg);
  opacity: 0;
  transition: .5s cubic-bezier(1,0,0.8,1);
  top: 0;
  left: 0;
}

.btn:hover .arrow:before {
  opacity: 1;
}

.btn:hover .card-button {
  background-color: #f8f8ee;
  text-transform: uppercase;
  margin-left: 20px;
  color: #f8f8ee !important;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.btn2 {
  position: relative;
  width: 200px;
  height: 40px;
  border: 2px solid #0D151C;
  border-radius: 50px;
  background: #f8f8ee;
  margin-top: 25px;
}

.btn2:hover .circle {
  width: 200px;
  opacity: 1;
}

.btn2:hover .arrow {
  left: 180px;
}

.btn2:hover .arrow:before {
  opacity: 1;
}

.btn2:hover .card-button {
  background-color: #f8f8ee;
  text-transform: uppercase;
  margin-left: 20px;
  color: #f8f8ee !important;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.hire-title {
    display: inline-block;
    font-size: 120px;
    font-family: 'Livvic' sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #f8f8ee;
}

.hire-2-title {
  display: inline-block;
  font-size: 60px;
  font-family: 'Livvic' sans-serif;
  font-weight: 700;
  color: #f8f8ee;
}

.hire {
  background: #0D151C;
  padding-left: 60px
}

.hire-text {
    color: #f8f8ee;
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 100px;
    padding-left: 50px;
}

.contact-icons {
  align-items: center;
  display: block;
  justify-items: center;
}

.contact-wrapper {
  padding-left: 50px;
}

.contact {
    text-decoration: none;
    color: #f8f8ee;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.contact-type {
  color: #ff5277;
  font-family: 'Inter', sans-serif;
  text-transform: none;
  font-size: 25px;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
}

.contact-type:hover {
  color: #f8f8ee;
  background-color: #ff2a57;
}

.contact-form {
  padding-bottom: 50px;
}

.footer {
  background: #f8f8ee;
  padding-bottom: 10px;
}

.hire-spacer {
  background: #0D151C;
}

.footer-text {
  border-top: 5px solid #0D151C;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  color: gray;
  display: flex;
  font-style: 'Inter', sans-serif;
  font-size: 15px;
}
